<h2>{{title}}</h2>
<div class="result-edit">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group" [ngClass]="{'has-error has-feedback' : hasError('Text')}">
      <label for="text">Result text:</label>
      <br />
      <textarea id="text" formControlName="Text" required placeholder="enter a suitable text..." class="form-control"></textarea>
      <span *ngIf="hasError('Text')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      <div *ngIf="hasError('Text')" class="help-block">
        This is a required field: please inser a valid text.
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error has-feedback' : hasError('MinValue')}">
      <label for="MinValue">Minimum Score Value:</label>
      <br />
      <input type="number" id="MinValue" name="MinValue" formControlName="MinValue" class="form-control"/>
      <span *ngIf="hasError('MinValue')" class="glyphicon glyphicon-remove form-control-feedback"></span>
      <div *ngIf="hasError('MinValue')" class="help-block">
        Insert a numeric value, or leave it blank to match everything up to MaxValue.
      </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error has-feedback' : hasError('MaxValue')}">
      <label for="MaxValue">Maximum Score Value:</label>
      <br />
      <input type="number" id="MaxValue" name="MaxValue" formControlName="MaxValue" class="form-control" />
      <span *ngIf="hasError('MaxValue')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      <div *ngIf="hasError('MaxValue')" class="help-block">
        Insert a numeric value, or leave it blank to match every everything up to MinValue.
      </div>
    </div>

    <div class="form-group">
      <button *ngIf="editMode" [disabled]="form.invalid" type="submit" class="btn btn-success">
        Apply Changes
      </button>
      <button *ngIf="!editMode" [disabled]="form.invalid" type="submit" class="btn btn-success">
        Create the Result!
      </button>
      <button type="button" (click)="onBack()" class="btn btn-default">
        Cancel
      </button>
    </div>

  </form>
</div>
