<h3>Results</h3>
<div *ngIf="results.length > 0">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Text</th>
          <th scope="col">Min. Value</th>
          <th scope="col">Max. Value</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of results">
          <td>{{result.Text}}</td>
          <td *ngIf="result.MinValue === null">N/A</td>
          <td *ngIf="result.MinValue !== null">{{result.MinValue}}</td>
          <td *ngIf="result.MaxValue === null">N/A</td>
          <td *ngIf="result.MaxValue !== null">{{result.MaxValue}}</td>
          <td>
            <button (click)="onEdit(result)" class="btn btn-xs btn-warning">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button (click)="onDelete(result)" class="btn btn-xs btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <button (click)="onCreate()" class="btn btn-sm btn-primary">
              <span class="glyphicon glyphicon-plus-sign"></span>
              Add a new Result
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="results.length == 0">
  This quiz has no results (yet):
  click the <strong>Add a new Result</strong> button to add the first one!
  <br />
  <button (click)="onCreate()" class="btn btn-sm btn-primary">
    <span class="glyphicon glyphicon-plus-sign"></span>
    Add a new Result
  </button>
</div>
