<div class='main-nav'>
  <div class='navbar navbar-default'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <quiz-search class="search-navmenu" placeholder="Type here..."></quiz-search>
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]="['/']" (click)='collapse()'>
            <span class='glyphicon glyphicon-home'></span> Home
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]="['/about']">
            <span class='glyphicon glyphicon-info-sign'></span> About
          </a>
        </li>
        <li *ngIf="!this.auth.isLoggedIn()" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]="['/login']">
            <span class='glyphicon glyphicon-log-in'></span> Login / Register
          </a>
        </li>
        <li *ngIf="this.auth.isLoggedIn()">
          <a (click)="logout()">
            <span class="glyphicon glyphicon-log-out"></span> Logout
          </a>
        </li>
        <li *ngIf="this.auth.isLoggedIn()" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]="['/quiz/create']">
            <span class="glyphicon glyphicon-plus"></span> Create Quiz
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
