.answer-edit textarea {
  min-width: 500px;
}

.answer-edit {
  width: 80%;

  @media (max-width: 767px) {
    width: 100%;
  }

  textarea {
    min-height: 100px;
  }

  select {
    max-width: 200px;
  }
}
