<h3>Answers</h3>
<div *ngIf="answers.length > 0">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Text</th>
          <th scope="col">Value</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let answer of answers">
          <td>{{answer.Text}}</td>
          <td>{{answer.Value}}</td>
          <td>
            <button (click)="onEdit(answer)" class="btn btn-xs btn-warning">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button (click)="onDelete(answer)" class="btn btn-xs btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <button (click)="onCreate()" class="btn btn-sm btn-primary">
              <span class="glyphicon glyphicon-plus-sign"></span>
              Add a new Answer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="answers.length == 0">
  This questions has no answers (yet):
  click the <strong>Add a new Answer</strong> button to add the first one!
  <br />
  <button (click)="onCreate()" class="btn btn-sm btn-primary">
    <span class="glyphicon glyphicon-plus-sign"></span>
    Add a new Answer
  </button>
</div>
