<div class="quiz-edit">
  <h2>{{title}}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="{'has-error has-feedback' : hasError('Title') }">
      <label for="Title">Quiz title:</label>
      <br />
      <input type="text" id="Title" formControlName="Title" required placeholder="choose a title..." class="form-control" />
      <span *ngIf="hasError('Title')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
      <div *ngIf="hasError('Title')" class="help-block">
        Title is a required field: please insert a valid title.
      </div>
    </div>
    <div class="form-group">
      <label for="description">Quiz description:</label>
      <br />
      <textarea id="description" formControlName="Description" placeholder="enter a description..." class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="text">Quiz informative text:</label>
      <br />
      <textarea id="text" formControlName="Text" placeholder="enter a text..." class="form-control"></textarea>
    </div>
    <div class="form-group commands">
      <button *ngIf="editMode" type="submit" [disabled]="form.invalid" class="btn btn-success">Apply Changes</button>
      <button *ngIf="!editMode" type="submit" [disabled]="form.invalid" class="btn btn-success">Create the Quiz!</button>
      <button *ngIf="!editMode" type="submit" (click)="onBack()" class="btn btn-default">Cancel</button>
    </div>
  </form>

  <question-list [quiz]="quiz" *ngIf="editMode"></question-list>
  <result-list [quiz]="quiz" *ngIf="editMode"></result-list>
</div>
