<h1>Welcome to TestMaker</h1>
<div class="row">
  <div class="col-lg-4"><quiz-list class="latest"></quiz-list></div>
  <div class="col-lg-4"><quiz-list class="byTitle"></quiz-list></div>
  <div class="col-lg-4"><quiz-list class="random"></quiz-list></div>
</div>

