<h3>Questions</h3>
<div *ngIf="questions.length > 0">
  <div class="table-responsive">
    <table class="table table-bordered table-hover questions">
      <thead>
        <tr>
          <th scope="col">Text</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of questions">
          <td>
            {{question.Text}}
          </td>
          <td>
            <button (click)="onEdit(question)" class="btn btn-xs btn-warning">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button (click)="onDelete(question)" class="btn btn-xs btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <button (click)="onCreate()" class="btn btn-sm btn-primary">
              <span class="glyphicon glyphicon-plus-sign"></span>
              Add a new Question
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="questions.length == 0">
  This quiz has no questions (yet):
  click the <strong>Add a new Question</strong> button to add the first one!
  <br />
  <button (click)="onCreate()" class="btn btn-sm btn-primary">
    <span class="glyphicon glyphicon-plus-sign"></span>
    Add a new Question
  </button>
</div>
