.question-edit textarea {
  min-width: 500px;
}
.question-edit {
  width: 80%;
}
@media (max-width: 767px) {
  .question-edit {
    width: 100%;
  }
}
.question-edit textarea {
  min-height: 100px;
}
